.header-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 116px;
    background: linear-gradient(180deg, #EFF3F6 49.11%, rgba(239, 243, 246, 0) 111.47%);
}
.header-faq .banner-lable{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 80px;
    padding: 8px 12px;
    max-width: max-content;
    margin-bottom: 18px;
}
.header-faq .banner-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #745285;
    margin-bottom: 32px;
}
.header-faq .form-inline{
    width: 100%;
    max-width: 593px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    filter: drop-shadow(0px 8px 12px rgba(205, 212, 222, 0.15));
    margin-bottom: 42px;
}
.header-faq .form-inline .form-control{
    padding-left: 34px;
    height: 56px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
}
.header-faq .form-inline .form-control:focus{
    box-shadow: none;
}
.header-faq .form-inline .form-control::placeholder{
    font-family: "Font Awesome 5 pro", "Montserrat";
    font-size: 30px  14px;
}
.header-faq .form-inline .button-submit{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 4px;
    padding: 12px 34px;
    margin-right: 6px;
}
.header-faq .header-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.7;
}
.faq-body{
    margin-top: -48px;
    padding-bottom: 89px;
}
.faq-body .nav-pills{
    margin-bottom: 114px;
}
.faq-body .nav-pills .nav-item{
    flex: 0 0 20%;
}
.faq-body .nav-pills .nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #FFFFFF;
    border: 1px solid rgba(255, 124, 94, 0);
    box-sizing: border-box;
    box-shadow: 0px 8px 12px rgba(205, 212, 222, 0.15);
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    min-height: 132px;
    transition: ease-in-out .3s;
}
.faq-body .nav-pills .nav-link img{
    margin-bottom: 12px;
    mix-blend-mode: luminosity;
    opacity: .4;
    transition: ease-in-out .3s;
}
.faq-body .nav-pills .nav-link.active{
    border-color:#FF7C5E;
    color: #000000;
    box-shadow: 0px 8px 12px rgba(205, 212, 222, 0.35);
}
.faq-body .nav-pills .nav-link.active img{
    opacity: 1;
    mix-blend-mode: normal;
}

.faq-body .tab-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #745285;
    margin-bottom: 12px;
}
.faq-body .tab-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    color: #132237;
    opacity: 0.7;
    margin-bottom: 38px;
}
.faq-body .accordion-body{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: capitalize;
    color: #767676;
}
.faq-body .accordion-item .accordion-button{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: rgba(50, 27, 75, 0.7);
    position: relative;
}
.faq-body .accordion-item .accordion-button::before{
    font-family: "Font Awesome 5 pro";
    content: "\f111";
    position: absolute;
    left: 0;
    top: 17px;
    font-size: 8px;
    color: #FF7C5E;
}
.faq-body .accordion-button:not(.collapsed)::after{
    font-family: "Font Awesome 5 pro";
    content: "\f068";
    background-image: none;
    transform: none;
    color: #745285;
}
.faq-body .accordion-button::after{
    font-family: "Font Awesome 5 pro";
    content: "\f067";
    background-image: none;
    transform: none;
    color: #745285;
}
.faq-body .accordion-button:not(.collapsed){
    background-color: #FFFFFF;
}
.faq-body .accordion-button:focus{
    box-shadow: none;
    border-color: #E0E0E0;
}
.faq-body .tab-content{
    max-width: 794px;
    margin: auto;
}