/* Banner-Section */

.banner-lawyers{
    max-height: 530px;
    padding-top: 64px;
    padding-bottom: 234px;
    background: linear-gradient(89.09deg, #361A4D 40.75%, rgba(19, 34, 55, 0) 83.99%), url("../images/banner-team.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.banner-lawyers .banner-lable{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 80px;
    padding: 8px 12px;
    max-width: max-content;
}
.banner-lawyers .banner-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    max-width: 604px;
    margin-bottom: 22px;
}
.banner-lawyers .banner-description{
    max-width: 520px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 28px;
}

/* Banner-Section-End */

/* ===================================== */

/* About-Services-Section */

.about-services{
    margin-top: -162px;
    padding-bottom: 42px;
}
.about-services .wrapper-services{
    padding: 52px 92px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(19, 34, 55, 0.15);
    border-radius: 12px;
}
.about-services .services-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #132237;
    margin-bottom: 20px;
}
.about-services .services-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #767676;
    opacity: 0.7;
    padding-left: 24px;
    border-left: 4px solid #FF7C5E;
    margin-bottom: 0;
}

/* About-Services-Section-End */

/* ===================================== */

/* Lawyers-Section */

.our-lawyers{
    padding-top: 89px;
    padding-bottom: 90px;
}

.our-lawyers .team-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #331B4D;
    margin-bottom: 20px;
}
.our-lawyers .lawyers-seperator{
    width: 78px;
    border-bottom: 4px solid #FF7C5E;
    margin: auto;
    margin-bottom: 74px;
}
.our-lawyers .lawyers-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
    padding: 72px 24px 24px 24px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(19, 34, 55, 0.05);
    border-radius: 4px;
    text-decoration: none;
    position: relative;
}
.lawyers-item .profile-team{
    width: 70%;
    max-width: 132px;
    border-radius: 100%;
    margin-bottom: 16px;
}
.lawyers-item .profile-name{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.lawyers-item .profile-experience{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.lawyers-item .profile-experience i{
    margin-right: 10px;
    color: #9CCE7D;
    font-size: 16px;
}
.lawyers-item .lable-lawyers{
    position: absolute;
    top: 22px;
    left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FF7C5E;
    background-color: #FEF7F5;
    padding: 7px 12px;
    max-width: 80%;
    border-radius: 0px 80px 80px 0px;
    margin-bottom: 0;
}

/* Lawyers-Section-End */

/* ===================================== */

/* Banner-Ads-Section */

.banner-ads{
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(267.54deg, rgba(67, 141, 152, 0.01) 2.66%, #331B4D 54.32%), url("../images/banner-ads.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.wrapper-banner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.ads-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    max-width: 584px;
}
.ads-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 518px;
}
.button-ads,.button-ads:hover{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 4px;
    padding: 12px 32px;
}

/* Banner-Ads-Section-End */