/* Contact-Section */

.register-form{
    padding-top: 64px;
    padding-bottom: 98px;
    background: linear-gradient(180deg, #EFF3F6 -58.21%, rgba(239, 243, 246, 0) 111.47%);;
}
.register-form .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 42px 117px 42px;
    background: linear-gradient(156.52deg, #341C4E 34.29%, rgba(52, 28, 78, 0.94) 64.27%, rgba(52, 28, 78, 0.81) 76.57%, rgba(52, 28, 78, 0) 98.6%), url("../images/bg-banner.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 24px;
}
.register-form .left .wrapper-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 218px;
    background-image: url("../images/circle-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 56px;
}
.register-form .left .wrapper-icon .image-icon{
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 100%;
    pointer-events: none;
}
.register-form .left .wrapper-icon .decore{
    position: absolute;
    bottom: -13px;
    pointer-events: none;
}
.register-form .left .quotes{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 420px;
}

.register-form .right{
    padding: 46px 0px 46px 24px;
}
.register-form .right .title{
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #331B4D;
    margin-bottom: 64px;
    width: 100%;
}
.register-form .right .title::after{
    position: absolute;
    content: '';
    width: 78px;
    border-bottom: 4px solid #FF7C5E;
    bottom: -18px;
    left: 0;
}
.register-form .right .wrapper-form-control{
    margin-bottom: 26px;
}
.register-form .right .wrapper-form-control:nth-last-of-type(1){
    margin-bottom: 38px;
}
.register-form .right.form-login .wrapper-form-control{
    max-width: 388px;
}
.register-form .right.form-login .wrapper-form-control .col{
    margin-bottom: 12px;
}
.register-form .right .form-label{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 6px;
}
.register-form .right .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(118, 118, 118, 0.35);
    border-radius: 0;
    padding-left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #132237;
    background-color: hsla(0, 0%, 100%, 0);
}
.register-form .right .form-control:focus{
    box-shadow: none;
    color: #FF7C5E;
}
.register-form .right .form-control::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #132237;
    opacity: 0.5;
}
.register-form .right .form-check .form-check-label{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.register-form .right .button-messages, .register-form .right .button-messages:hover{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF7C5E;
    padding: 16px 32px;
}
.register-form .right .direct-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #767676;
    margin-bottom: 0;
}
.register-form .right .direct-link a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #745285;
    text-decoration: none;
}
.register-form .right .wrapper-password{
    position: relative;
}
.register-form .right .wrapper-password .preview_icon{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

.forgot, .forgot:hover{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #745285;
    margin-top: 12px;
    text-decoration: none;
}
/* Contact-Section-End */

