*{
    font-family: 'Montserrat', sans-serif;
}
.main-wrapper{
    position: relative;
    overflow-x: hidden;
}

/* Navbar-Section */
.navbar-light .navbar-toggler {
    color: transparent;
    border: none;
}
.navbar-light .navbar-toggler-icon{
    background: url("../images/toggle.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-light{
    padding-top: 0px;
    padding-bottom: 0px;
}
.bg-white{
    background-color: #ffffff;
}
.navbar-brand{
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #767676;
}
.navbar-light .navbar-nav .nav-item:hover{
    color: #132237;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    padding: 24px 18px 20px 18px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #132237 !important;
    border-bottom: solid 4px #F7B948;
}
nav .dropdown-item.active, .dropdown-item:active{
    background-color: #ffffff00 !important;
}
.btn:focus{
    box-shadow: none;
}
.btn-nav-outline{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #132237;
    border: 1px solid rgba(19, 34, 55, 0.2);
    border-radius: 4px;
    padding: 6px 18px;
}
.btn-nav-outline:hover{
    background-color: #132237;
    color: #ffffff;
}
.btn-nav-solid{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #FF7C5E;
    border-radius: 4px;
    padding: 6px 18px;
}
.btn-nav-solid:hover{
    color: #ffffff;
}
nav .dropdown-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .dropdown-item:focus, .dropdown-item:hover{
    background-color: #ffffff00;
}
nav .dropdown-menu{
    margin: 0;
    border: none;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: rgba(255, 255, 255, 0.99);
}
nav .dropdown-multicol{
    width: 43em;
    padding: 24px 28px;
}
nav .wrapper-menu{
    display: flex;
    flex-direction: row;
    white-space: normal;
    align-items: flex-start;
    margin-bottom: 12px;
}
.icon-sub-menu{
    width: 32px;
}
nav .dropdown-item.active, .dropdown-item:active{
    background-color: #FFFFFF;
}
nav .sub-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 0;
}
nav .sub-description{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    text-transform: capitalize;
    color: #767676;
    max-width: 196px;
    margin-bottom: 0;
}
/* Navbar-Section-End */

/* ===================================== */

/* Footer-Section */

footer{
    padding-top: 94px;
    background-color: #341C4E;
}
.footer-title{
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    color: #FF7C5E;
}
.footer-description{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 28px;
}
.wrapper-social-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.wrapper-social-link li{
    margin-left: 18px;
}
.wrapper-social-link li:nth-child(1){
    margin-left: 0;
}
.wrapper-social-link li a{
    font-size: 20px;
    color: #503172;
}
.wrapper-social-link li a:hover{
    color: #FFFFFF;
}
.footer-menu{
    list-style: none;
    padding-left: 0;
}
.footer-menu li a{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
footer .address{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #291341;
    padding: 10px 0px;
}
.copy-right{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: 0;
}

/* Footer-Section-End */