@media (max-width: 575.98px) {
    /* Navbar */
    nav .dropdown-multicol{
        width: auto;
        padding: 14px 0px;
    }

    /* Home-Page */
    .navbar-light{
        padding-bottom: 18px;
        padding-top: 18px;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        border-bottom: none;
    }
    .navbar-light .navbar-nav .nav-item .nav-link {
        padding: 18px 18px 18px 0px;
    }
    .banner .overlay{
        background: linear-gradient(94.33deg, #331b4d 22%, rgba(19, 34, 55, 0) 140%);
    }
    .banner .carousel-indicators{
        margin-left: 4%;
    }
    .banner .carousel-caption{
        margin-right: 4%;
        margin-left: 4%;
    }
    .banner .carousel-caption .banner-title {
        font-size: 24px;
        line-height: 32px;
        max-width: 284px !important;
    }
    .banner .carousel-caption .banner-description {
        max-width: 274px !important;
    }
    .banner .btn-banner {
        font-size: 12px;
        line-height: 17px;
        padding: 8px 18px;
    }
    .about-company {
        padding-top: 68px;
        padding-bottom: 84px;
    }
    .wrapper-about {
        padding-left: 18px;
        margin-right: 0;
        margin-left: 0;
        padding-top: 12px;
        padding-bottom: 14px;
    }
    .reason-belive .container{
        padding: 0;
    }
    .wrapper-reason{
        border-radius: 0;
        padding: 48px 28px;
        align-items: flex-start;
    }
    .reason-item{
        margin-bottom: 24px;
        align-items: flex-start;
    }
    .reason-title{   
        font-size: 28px;
        text-align: left;
    }
    .reason-item-description{
        text-align: start;
    }
    .wrapper-partnership {
        padding: 0;
    }
    .partnership-title {
        font-size: 28px;
        line-height: 34px;
    }
    .vm-lg{
        display: none;
    }
    .vm-sm{
        display: block;
    }
    .col-img{
        flex: 0 0 auto;
        width: 32% !important;
        margin-bottom: 24px;
    }
    .testimonial {
        padding-top: 64px;
        padding-bottom: 84px;
    }
    .thumbnail-slider .controls ul{
        text-align: center;
    }
    .banner-ads{
        background: linear-gradient(267.54deg, rgba(67, 141, 152, 0.01) -22%, #331B4D 80%), url("../images/banner-ads.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .ads-title {
        max-width: 88%;
    }
    .ads-description{
        max-width: 80%;
    }
    .banner-ads .right{
        margin-top: 28px;
        width: 100%;
        text-align: center;
    }
    footer .col-md-5{
        margin-bottom: 28px;
    }
    footer .col:nth-last-child(1){
        margin-top: 28px;
        flex: 1 0 100%;
    }

    /* Services */

    .banner-services {
        padding-bottom: 164px;
    }
    .banner-services .banner-title {
        max-width: 327px;
    }
    .about-services .wrapper-services {
        padding: 34px 34px 54px 34px;
    }
    .about-services .services-description {
        padding-left: 24px;
    }
    .wrapper-pricing-filter .item-pricing {
        margin-right: 0px;
        margin-bottom: 14px;
        flex: 100%;
    }
    .pricing .table-description{
        margin-bottom: 24px;
    }
    .pricing .table-responsive{
        display: none;
    }
    .how-it-works .wrapper-step {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .how-it-works .wrapper-icon {
        width: 128px;
        height: 128px;
        margin: auto;
        margin-bottom: 24px;
    }
    .how-it-works .icon-step {
        width: 78px;
    }
    .how-it-works .wrapper-step-description{
        flex:100%;
        text-align: center;
    }
    .how-it-works .wrapper-step:nth-child(odd) .step-row .wrapper-step-description{
        padding-left: 0px;
    }
    .how-it-works .wrapper-step:nth-child(even) .step-row .wrapper-step-description {
        padding-right: 0px;
    }
    .how-it-works .feature-description {
        margin-bottom: 38px;
    }

    /* Lawyers-Section */
    .banner-lawyers-detail .wrapper-banner-description {
        margin-left: 0px;
        width: 100%;
    }
    .banner-lawyers-detail .banner-profile{
        margin-bottom: 20px;
        width: 108px;
        height: 108px;
    }
    .banner-lawyers-detail .banner-title{
        font-size: 18px;
        line-height: 26px;
    }
    .banner-lawyers-detail .banner-description{
        width: 100%;
    }
    .banner-lawyers-detail .wrapper-experiance span{
        display: none;
    }
    .profile-services {
        margin-top: -89px;
    }
    .banner-lawyers-detail {
        padding-top: 98px;
        padding-bottom: 124px;
    }
    .profile-services .wrapper-services{
        padding: 24px;
    }

    .profile-identity .head-profile-identity{
        margin-bottom: 20px;
    }
    .profile-identity .head-profile-identity::after{
        bottom: -6px;
    }


    /* Contact */
    .banner-contact {
        padding-bottom: 146px;
    }
    .banner-contact .banner-title {
        font-size: 32px;
        max-width: 270px;
    }
    .customer-assistance {
        margin-top: -118px;
    }
    .customer-assistance .item-customer-assistance, .customer-assistance .item-faq {
        padding: 34px 24px;
        justify-content: center;
        margin-bottom: 14px;
    }
    .item-customer-assistance .wrapper-icon, .item-faq .wrapper-icon{
        width: 100px;
        height: 100px;
        margin-bottom: 18px;
    }
    .item-customer-assistance .wrapper-content , .item-faq .wrapper-content{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .item-customer-assistance .item-description, .item-faq .item-description{
        text-align: center;
    }
    .item-customer-assistance .item-faq .item-title, .item-faq .item-title{
        text-align: center;
    }
    section.contact {
        padding-top: 28px;
        padding-bottom: 34px;
    }
    section.contact .container{
        padding-left: 0;
        padding-right: 0;
    }
    section.contact .left{
        border-radius: 0;
        padding: 32px 24px;
    }
    section.contact .left .col:nth-child(2) {
        padding-right: 10px;
        margin-bottom: 28px;
    }.contact .left .col:nth-last-child(1) {
        padding-left: 10px;
        margin-bottom: 28px;
    }
    section.contact .left .direction-detail {
        max-width: max-content;
    }
    section.contact .right {
        padding: 46px 12px 46px 12px;
    }
    section.contact .right .form-control {
        font-size: 14px;
        line-height: 18px;
    }
    section.contact .right .form-control::placeholder {
        font-size: 14px;
        line-height: 18px;
    }
    section.contact .right .form-label{
        font-size: 13px;
    }

    /* FAQ */
    .header-faq .banner-title{
        font-size: 28px;
        line-height: 34px;
    }
    .faq-body .nav-pills{
        justify-content: center;
        margin-bottom: 68px;
    }
    .faq-body .nav-pills .nav-link{
        min-height: max-content;
    }
    .faq-body .nav-pills .nav-link span{
        display: none;
    }
    .faq-body .nav-pills .nav-item{
        flex: 0 0 33.3%;
        margin-bottom: 14px;
    }
    .faq-body .nav-pills .nav-link img{
        margin-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* Home-Page */
    .navbar-light{
        padding-bottom: 18px;
        padding-top: 18px;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        border-bottom: none;
    }
    .banner .overlay{
        background: linear-gradient(94.33deg, #331b4d 22%, rgba(19, 34, 55, 0) 140%);
    }
    .banner .carousel-indicators{
        margin-left: 8%;
    }
    .banner .carousel-caption{
        margin-right: 8%;
        margin-left: 8%;
    }
    .banner .banner-title {
        font-size: 28px;
        line-height: 36px;
        max-width: 384px !important;
    }
    .banner .banner-description {
        max-width: 274px !important;
    }
    .banner .btn-banner {
        font-size: 12px;
        line-height: 17px;
        padding: 8px 18px;
    }
    .about-company {
        padding-top: 68px;
        padding-bottom: 84px;
    }
    .wrapper-about {
        padding-left: 28px;
        margin-right: 0;
        margin-left: 0;
        padding-top: 12px;
        padding-bottom: 14px;
    }
    .wrapper-reason{
        padding: 48px 28px;
    }
    .reason-item{
        margin-bottom: 24px;
    }
    .reason-title{   
        font-size: 28px;
    }
    .partnership-title {
        font-size: 28px;
        line-height: 34px;
    }
    .wrapper-partnership {
        padding: 0px 0px;
    }
    .vm-lg{
        display: none;
    }
    .vm-sm{
        display: block;
    }
    .testimonial {
        padding-top: 64px;
        padding-bottom: 84px;
    }
    .thumbnail-slider .controls ul{
        text-align: center;
    }
    .banner-ads{
        background: linear-gradient(267.54deg, rgba(67, 141, 152, 0.01) -22%, #331B4D 80%), url("../images/banner-ads.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .ads-title {
        font-size: 28px;
        max-width: 80%;
    }
    .ads-description{
        max-width: 60%;
    }
    .banner-ads .right{
        margin-top: 28px;
        width: 100%;
    }
    footer .col-md-5{
        width: 100%;
        margin-bottom: 28px;
    }

    /* Services */

    .about-services .wrapper-services {
        padding: 42px 34px 54px 34px;
    }
    .pricing .table-responsive{
        display: none;
    }
    .how-it-works .wrapper-icon {
        width: 158px;
        height: 158px;
    }
    .how-it-works .icon-step {
        width: 98px;
    }
    .how-it-works .step-row{
        align-items: flex-start;
    }

    /* Lawyers-Section */

    .our-lawyers .col-md-3{
        flex: 0 0 50%;
    }
    .other-lawyers .col-md-3{
        flex: 0 0 50%;
    }
    .banner-lawyers-detail .wrapper-banner-description {
        margin-left: 0px;
        width: 100%;
    }
    .banner-lawyers-detail .banner-profile{
        margin-bottom: 20px;
        width: 108px;
        height: 108px;
    }
    .profile-services {
        margin-top: -89px;
    }
    .banner-lawyers-detail {
        padding-top: 98px;
        padding-bottom: 124px;
    }

    /* Contact */
    .banner-contact {
        padding-bottom: 146px;
    }
    .banner-contact .banner-title {
        font-size: 32px;
        max-width: 270px;
    }
    .customer-assistance {
        margin-top: -118px;
    }
    .customer-assistance .item-customer-assistance, .customer-assistance .item-faq {
        padding: 34px 24px;
        justify-content: center;
        margin-bottom: 14px;
    }
    .item-customer-assistance .wrapper-icon, .item-faq .wrapper-icon{
        width: 100px;
        height: 100px;
        margin-bottom: 18px;
    }
    .item-customer-assistance .wrapper-content , .item-faq .wrapper-content{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .item-customer-assistance .item-description, .item-faq .item-description{
        text-align: center;
    }
    section.contact {
        padding-top: 28px;
        padding-bottom: 34px;
    }
    section.contact .left .col:nth-child(2) {
        padding-right: 0;
        margin-bottom: 28px;
    }.contact .left .col:nth-last-child(1) {
        padding-left: 0;
        margin-bottom: 28px;
    }
    section.contact .left .direction-detail {
        max-width: max-content;
    }
    section.contact .right {
        padding: 46px 12px 46px 12px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Home-Page */
    .navbar-light{
        padding-bottom: 18px;
        padding-top: 18px;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        border-bottom: none;
    }
    .banner .overlay{
        background: linear-gradient(94.33deg, #331b4d 22%, rgba(19, 34, 55, 0) 140%);
    }
    .wrapper-about {
        margin-right: 44px;
        margin-left: 44px;
        padding-top: 12px;
    }
    .banner-ads .right{
        margin-top: 28px;
        width: 100%;
    }
    footer .col-md-5{
        width: 100%;
    }
    .footer-description{
        max-width: 90%;
    }

    /* Services */

    .pricing .table-responsive{
        display: none;
    }

    /* Lawyers-Section */

    .our-lawyers .col-md-3{
        flex: 0 0 33.3%;
    }
    .other-lawyers .col-md-3{
        flex: 0 0 33.3%;
    }

    /* Contact */
    .customer-assistance .item-customer-assistance, .customer-assistance .item-faq {
        padding: 34px 24px;    
        min-height: 373px;
    }
    .item-customer-assistance .wrapper-icon, .item-faq .wrapper-icon{
        width: 100px;
        height: 100px;
        margin-bottom: 18px;
    }
    .item-customer-assistance .wrapper-content , .item-faq .wrapper-content{
        margin-left: 0;
        width: 100%;
    }
    .item-customer-assistance .button-cs, .item-customer-assistance .button-cs:hover ,.item-faq .button-cs, .item-faq .button-cs:hover{
        padding: 16px 18px;
        width: 100%;
    }
    section.contact .container .row .col-md-6:nth-child(1){
        width: 40%;
    }
    section.contact .container .row .col-md-6:nth-child(2){
        width: 60%;
    }
    section.contact .left{
        padding: 46px 24px;
    }
    section.contact .left .col:nth-child(2) {
        padding-right: 0;
        margin-bottom: 28px;
    }.contact .left .col:nth-last-child(1) {
        padding-left: 0;
        margin-bottom: 28px;
    }
    section.contact .left .direction-detail {
        max-width: max-content;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Services */
    
    .accordion-pricing{
        display: none;
    }

    /* Contact */
    .customer-assistance .item-customer-assistance, .customer-assistance .item-faq {
        padding: 34px 24px;    
        min-height: 373px;
    }
    .item-customer-assistance .wrapper-icon, .item-faq .wrapper-icon{
        width: 100px;
        height: 100px;
        margin-bottom: 18px;
    }
    .item-customer-assistance .wrapper-content , .item-faq .wrapper-content{
        margin-left: 0;
        width: 100%;
    }
    .item-customer-assistance .button-cs, .item-customer-assistance .button-cs:hover ,.item-faq .button-cs, .item-faq .button-cs:hover{
        padding: 16px 18px;
        width: 100%;
    }
    section.contact .left .col:nth-child(2) {
        padding-right: 10px;
        margin-bottom: 28px;
    }.contact .left .col:nth-last-child(1) {
        padding-left: 10px;
        margin-bottom: 28px;
    }
}

@media (min-width: 1200px) {
    .ctf{
        max-width: 1200px !important;
    }

    /* Services */
    
    .accordion-pricing{
        display: none;
    }
}
@media (min-width: 1400px) {
    .ctf{
        max-width: 1500px !important;
    }
}
