@media (max-width: 575.98px) {

    /* Home-Page */
    .navbar-light{
        padding-bottom: 18px;
        padding-top: 18px;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        border-bottom: none;
    }
    .navbar-light .navbar-nav .nav-item .nav-link {
        padding: 18px 18px 18px 0px;
    }
    .banner .overlay{
        background: linear-gradient(94.33deg, #331b4d 22%, rgba(19, 34, 55, 0) 140%);
    }
    .banner .carousel-caption{
        margin-right: 4%;
        margin-left: 4%;
    }
    .banner .banner-title {
        font-size: 24px;
        line-height: 32px;
        max-width: 284px !important;
    }
    .banner .banner-description {
        max-width: 274px !important;
    }
    .banner .btn-banner {
        font-size: 12px;
        line-height: 17px;
        padding: 8px 18px;
    }
    .about-company {
        padding-top: 68px;
        padding-bottom: 84px;
    }
    .wrapper-about {
        padding-left: 18px;
        margin-right: 0;
        margin-left: 0;
        padding-top: 12px;
        padding-bottom: 14px;
    }
    .reason-belive .container{
        padding: 0;
    }
    .wrapper-reason{
        border-radius: 0;
        padding: 48px 28px;
        align-items: flex-start;
    }
    .reason-item{
        margin-bottom: 24px;
        align-items: flex-start;
    }
    .reason-title{   
        font-size: 28px;
        text-align: left;
    }
    .reason-item-description{
        text-align: start;
    }
    .wrapper-partnership {
        padding: 0;
    }
    .partnership-title {
        font-size: 28px;
        line-height: 34px;
    }
    .vm-lg{
        display: none;
    }
    .vm-sm{
        display: block;
    }
    .col-img{
        flex: 0 0 auto;
        width: 32% !important;
        margin-bottom: 24px;
    }
    .testimonial {
        padding-top: 64px;
        padding-bottom: 84px;
    }
    .thumbnail-slider .controls ul{
        text-align: center;
    }
    .banner-ads{
        background: linear-gradient(267.54deg, rgba(67, 141, 152, 0.01) -22%, #331B4D 80%), url("../images/banner-ads.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .ads-title {
        font-size: 24px;
        line-height: 28px;
        max-width: 258px;
    }
    .ads-description{
        max-width: 244px;
    }
    .banner-ads .right{
        margin-top: 28px;
    }
    footer .col-md-5{
        margin-bottom: 28px;
    }
    footer .col:nth-last-child(1){
        margin-top: 28px;
        flex: 1 0 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media (min-width: 1200px) {
    .ctf{
        max-width: 1200px !important;
    }
}
@media (min-width: 1400px) {
    .ctf{
        max-width: 1500px !important;
    }
}
