/* Banner-Section */

.banner-services{
    max-height: 530px;
    padding-top: 64px;
    padding-bottom: 234px;
    background: linear-gradient(94.33deg, #361A4D 28.24%, rgba(19, 34, 55, 0) 91.68%), url("../images/banner-main2.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.banner-services .banner-lable{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 80px;
    padding: 8px 12px;
    max-width: max-content;
}
.banner-services .banner-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    max-width: 604px;
    margin-bottom: 22px;
}
.banner-services .banner-description{
    max-width: 520px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 28px;
}

/* Banner-Section-End */

/* ===================================== */

/* About-Services-Section */

.about-services{
    margin-top: -162px;
    padding-bottom: 42px;
}
.about-services .wrapper-services{
    padding: 52px 92px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(19, 34, 55, 0.15);
    border-radius: 12px;
}
.about-services .services-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #132237;
    margin-bottom: 20px;
}
.about-services .services-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #767676;
    opacity: 0.7;
    padding-left: 24px;
    border-left: 4px solid #FF7C5E;
    margin-bottom: 0;
}

/* About-Services-Section-End */

/* ===================================== */

/* Pricing-Section */

.pricing{
    padding-top: 64px;
    padding-bottom: 94px;
}
.wrapper-pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company-lable{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 80px;
    padding: 8px 12px;
    max-width: max-content;
}
.pricing-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #132237;
    text-align: center;
    max-width: max-content;
}
.pricing-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
    opacity: 0.7;
    max-width: 752px;
    margin-bottom: 42px;
}
.wrapper-pricing-filter{
    background-color: #331B4D;
    border-radius: 12px;
    padding: 32px;
    width: 698px;
    max-width: 100%;
    margin-bottom: 72px;
}
.filter-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    max-width: max-content;
}
.row-pricing-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper-pricing-filter .form-select{
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    width: 100%;
}
.wrapper-pricing-filter .item-pricing{
    margin-right: 26px;
}
.button-pricing , .button-pricing:hover{
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF7C5E;
}
.table-description{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 28px;
    text-align: start;
    width: 100%;
}
.table-responsive{
    width: 100%;
}
.accordion-item{
    position: relative;
}
.pricing-table-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FF7C5E;
    border: none;
}
.table-pricing tbody td{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    vertical-align: middle;
}
.table-pricing tbody td p{
    font-weight: normal;
    color: #828282;
    max-width: 488px;
}
.table-pricing tbody td p a{
    font-style: italic;
    color: #745285;
    text-decoration: none;
}
.button-book{
    padding: 8px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #132237;
    background-color: #F2F2F2;
    border-radius: 6px;
}
.button-book:hover{
    color: #FFFFFF;
    background-color: #FF7C5E;
}
.accordion-pricing{
    width: 100%;
}
.collapse-item-pricing{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding: 1rem 0rem;
    position: relative;
}
.table-header{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FF7C5E;
    margin-bottom: 12px;
}
.table-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 4px;
}
.table-content{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #828282;
    margin-bottom: 0px;
}
.link-pernyataan{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    white-space: nowrap;
    font-style: italic;
    color: #745285;
    text-decoration: none;
    margin-bottom: 20px;
}
.accordion-button::after{
    position: absolute;
    width: 20px;
    height:20px;
    background-size: contain;
    right: 1rem;
    top: 1rem;
    background-image: url("../images/arrow.svg");
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../images/arrow.svg");
}
.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    border-bottom: none;
}
.accordion-body{
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 1rem 0rem;
}
.wrapper-table-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.button-book-mobile, .button-book-mobile:hover{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF7C5E;
    border-radius: 6px;
    padding: 12px 0px;
    width: 80%;
    max-width: 282px;
    margin: auto;
    margin-top: 20px;
}
.accordion-button:focus {
    border-color: #dfdfdf;
    box-shadow: none;
}
/* Pricing-Section-End */

/* ===================================== */

/* How-It-Work-Section */
.how-it-works{
    background-color: #F8F8F8;
    padding-top: 52px;
}
.how-it-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #331B4D;
}
.seperator{
    width: 78px;
    border-bottom: 4px solid #FF7C5E;
    margin-left: auto;
    margin-right: auto;
}
.wrapper-step{
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.how-it-works .wrapper-step:nth-child(3){
    padding-top: 58px;
}
.step-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.how-it-works .wrapper-step:nth-child(odd){
    background-color: #F8F8F8;
}
.how-it-works .wrapper-step:nth-child(even){
    background-color: #FFFFFF;
}
.how-it-works .wrapper-step:nth-child(odd) .step-row{
    flex-direction: row;
}
.how-it-works .wrapper-step:nth-child(even) .step-row{
    flex-direction: row-reverse;
}
.how-it-works .wrapper-step:nth-child(odd) .step-row .wrapper-step-description{
    padding-left: 44px;
}
.how-it-works .wrapper-step:nth-child(even) .step-row .wrapper-step-description{
    padding-right: 44px;
}
.wrapper-icon{
    width: 234px;
    height: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 100%;
}
.icon-step{
    width: 116px;
}
.feature-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 24px;
}
.feature-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 20px;
}
.button-step{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FB7E68;
    margin-bottom: 0;
    border: 1px solid #FF7C5E;
    border-radius: 4px;
    padding: 12px 32px;
}
.button-step:hover{
    color: #FFFFFF;
    background-color: #FF7C5E;
}

/* How-It-Work-Section-End */

/* ===================================== */

/* Testimonial-Section */

.testimonial{
    padding-top: 120px;
    padding-bottom: 120px;
}
.testimonial-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #331B4D;
    margin-bottom: 18px;
}
.testimonial-seperator{
    border-bottom: 4px solid #FF7C5E;
    width: 78px;
    margin-bottom: 24px;
}
.wrapper-vm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.testimonial-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.7;
    max-width: 500px;
}
.btn-view-more{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FF7C5E;
}
.wrapper-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 18px;
}
.decor-testimonial{
    width: 40px;
    object-fit: contain;
    margin-right: 14px;
}
.content-testimonial{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #767676;
    opacity: 0.7;
}
.testimonial-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}
.image-profile-testimonial{
    width: 48px;
    border-radius: 48px;
    object-fit: cover;
}
.wrapper-profile-name{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.testimonial-name{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #132237;
    margin-bottom: 2px;
}
.testimonial-company{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #767676;
    opacity: 0.8;
    margin-bottom: 0;
}
.vm-sm{
    display: none;
    text-align: center;
    margin-top: 48px;
}

/* Testimonial-Section-End */