.thumbnail-slider{
	width: 100%;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .item{
  float: left;
  padding-right: 30px;
}
.thumbnail-slider .controls{
	width: 100%;
    float: left;
    margin-top: 48px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: start;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 12px;
    width: 12px;
    background-color: #EC9379;
	color:#ffffff00;
    opacity: 0.2;
    border-radius: 12px;
	margin-right:8px;
    display: inline-block;
    font-size: 0;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
    background-color: #EC9379;
    opacity: 1;
    font-size: 0;
	color:#ffffff00;
}


